@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

@layer utilities {
  .square {
    aspect-ratio: 1 /1;
  }
  /* Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
}
@layer components {
  .hover-images {
    @apply shadow-md lg:transform lg:transition-transform lg:duration-200 lg:hover:scale-105 lg:hover:shadow-lg;
  }
  .main-container {
    @apply xxs:mt-10 xxs:p-3 flex flex-col justify-center gap-5 font-serif text-darkGreen md:mt-20 md:p-5 lg:p-5;
  }
  .nav-hover {
    @apply rounded-xl border border-transparent px-5 py-1 duration-200 ease-in hover:border-lightGreen hover:text-lightGreen;
  }
  .dropdown-hover {
    @apply rounded-xl px-5 py-1 duration-100 ease-in hover:text-lightGreen;
  }
  .mobile-link {
    @apply xxs:underline underline-offset-4 hover:cursor-pointer hover:text-lightGreen md:hover:underline lg:no-underline;
  }
}
